.trangchu{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.content{
    margin-top: 40px;
    width: 60vw;
    
    
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;
}
.content1{
    min-height: 100vh;
    width: 70%;
    padding: 5px;
    box-shadow: 0 4px 16px 0 rgba(105, 138, 192, 0.2);
    margin: 0 10px 30px 0 ;
}
.content2{
    min-height: 100vh;
    width: 30%;
}
/* khuvuc */
.khuvuc{
    height: 200px;
    width: 100%;
    padding: 5px;
    
    box-shadow: 0 4px 16px 0 rgba(105, 138, 192, 0.2);

}
/* tintuc */
.tintuc{
    height: 400px;
    width: 100%;
    margin-top: 20px;
    padding: 5px;
    box-shadow: 0 4px 16px 0 rgba(105, 138, 192, 0.2);
}
/* du an */
.duan{
    height: 170px;
    width: 100%;
    padding: 5px;
    position: relative;
    
}
.duan::after {
  content: "";
  display: block;
  width: 95%;      /* Độ dài mong muốn */
  margin: 0 auto;
  border-bottom: 1px solid #e9e7e7;
  position: absolute;
  left: 2%;
  bottom: 0;
}
.duan .anhduan{
    height: 100%;
    width: 30%;
    float: left;
    padding: 10px;
    border-radius: 5px;

}
.anhduan img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
/* thông tin dự án*/
.thongtinduan{
    height: 100%;
    width: 70%;
    float: left;
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
}
.thongtinduan .tieude{
    font-weight: bold;
    font-size: 18px;
    margin-bottom:8px ;
    
}
.thongtinduan .diachi{
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 300;
}
.thongtinduan .gia{
    font-size: 16px;
    color: red;
    font-weight: bold;
    margin: 5px 0;
}
.thongtinduan .thoigian{
    font-size: 12px;
    color: gray;
    font-weight: 300;
    display: flex;
    position: relative;
    margin-top: 2px;
}
.thongtinduan .thoigian>button{
   text-decoration: none;
    color: red;
    position: absolute;
    right: 10px;
    font-size: 16px;
    top: -11px;
    background: none;
    border: none;
}
/* khuvuc */
.khuvuc ul{
    list-style: none;
    gap: 20px;
    margin-left: 20px;
}
.khuvuc ul li{
    display: flex;
    justify-content: left;
}
.khuvuc ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 13px;
}
.khuvuc-title{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}
/* tintuc */
.tintuc-baiviet {
    width: 100%;
    height: 70px;
    margin: 5px;
}
.tintuc-baiviet>.anhduan {
    height: 100%;
    width: 30%;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
}
.tintuc-baiviet>.anhduan>img {
    height: 100%;
    width: 100%;
    float: left;
    border-radius: 5px;
    margin-right: 10px;
}
.tintuc-baiviet>.thongtinduan {
    height: 100%;
    width: 65%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tintuc-baiviet>.thongtinduan>.tieude {
    font-weight: bold;
    font-size: 13px;
}